.registerSection {
    .imageUploaderContainer {
        text-align: center;
        position: relative;
        margin-bottom: 48px;
        cursor: pointer;

        .avatarPreview {
            height: 120px;
            width: 120px;
        }

        &::after {
            content: url('../../public/images/camera.svg');
            height: 48px;
            width: 48px;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 90px;
            margin: auto;
            
        }
    }
}