@mixin primary_button {
    background-color: $primary_color;
    color: white;
}

@mixin outlined_button {
    background-color: white;
    color: $primary_color;
    font-weight: bold;
    border: 2px solid $primary_color;
}

.btn {
    width: 20%; // 100%
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &.primary_color {
        @include primary_button;

        &:hover {
            @include outlined_button;
        }
    }

    &.inverted_color {
        @include outlined_button;

        &:hover{
            @include primary_button;
        }
    }

    &:disabled{
        opacity: 0.5;
    }
}