@import 'variables.scss';

* {
  font-family: $font_regular;
  font-size: 16px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.hidden {
  display: none;
}

@import '../public/fonts/fonts.scss';
@import '../components/button/button.scss';