.publicPage {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: $primary_color_4;
    color: $primary_color_2;
    padding: 0 32px;
    
    .logoContainer {
        position: relative;
        width: 100%;
    }

    .zooagram {
        margin-top: 16px;
    }

    .publicPageContent {
        width: 100%;
        margin-top: 16px;
    }

    .btn {
        padding: 16px;
        margin: 16px 0;
        font-size: 1.2em;
        font-weight: bold;
        color: #000;
    }

    .publicPageFooter {
        text-align: center;
        margin-top: 16px;
    }

    a {
        color: $primary_color_2;
        font-weight: bold;
    }

    @media screen and (min-width: $desktop_breakpoint) {
        flex-direction: row;
        padding: 0 140px;

        .logoContainer {
            flex: 2;
            max-width: 300px;
            padding-right: 64px;
        }

        .publicPageContent {
            flex: 1;
            border: 2px solid $primary_color_2;
            border-radius: 32px;
            padding: 32px 32px 0px 32px;
            margin-top: 0;
        }

        .btn {
            font-size: 1.6em;
        }

        .publicPageFooter {
            font-size: 1.1em;
            padding-bottom: 4px;
        }

        .publicInput {
            input {
                font-size: 1.1em;
            }
        }
    }

}