// Fonts
$font_bold: 'Roboto Bold';
$font_light: 'Roboto Light';
$font_regular: 'Roboto Regular';

//Colors
$primary_color: #003300;
$primary_color_2: #001a00;
$primary_color_3: #00ff00;
$primary_color_4: #e6ffe6;

$grey_0: #f4f4f4;
$grey_1: #DADADA;
$grey_2: #7C7786;
$grey_3: #4D4C4D;
$grey_4: #333333;

//Desktop Breakpoint
$desktop_breakpoint: 992px;