// Fonts
$font_bold: 'Roboto Bold';
$font_light: 'Roboto Light';
$font_regular: 'Roboto Regular';

// Colors
$primary_color: #f5a137;
$primary_color_2: #261d24;
$primary_color_3: #8c5c2c;
$primary_color_4: #d3c483;

// Desktop Breakpoint
$desktop_breakpoint: 992px;